<div class="pagination">
  <span class="step-links">
    {% with tag_slug=request.GET.tag_slug %}
      {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}{% if tag_slug %}&tag_slug={{ tag_slug }}{% endif %}">Previous</a>
      {% endif %}
      <span class="current">
        Page {{ page.number }} of {{ page.paginator.num_pages }}.
      </span>
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}{% if tag_slug %}&tag_slug={{ tag_slug }}{% endif %}">Next</a>
        {% endif %}
    {% endwith %}
  </span>
</div>
